*{
	margin:0;
	padding: 0;
	
	
}
body{
	background: url("images/background1.jpg");
	
	/* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.main{
	background-color:rgba(0,0,0,0.7);
	width:100%;
	font-size:14px;
	border-radius:10px;
	border:1px soid rgba(255,255,255,0.3);
	box-shadow:2px 2px 15px rgba(0,0,0,0.3);
	color:#ffff;
	width:600px;
	margin:20px auto 0px auto;
	color:white;
}

h1{
	
	text-align:center;
	padding:20px;
	font-family:sans-serif;
	font-size: 60px;
	color:black
}

input#submit{
	text-align: center;
	width:300px;
	height:50px;
	padding:7px;
	font-size:20px;
	font-family:sans-serif;
	font-weight:600;
	border-radius:12px;
	background-color:#1848D4;
	color:#fff;
	cursor:pointer;
	border:1px solid rgba(255,255,255,0.3);
	box-shadow:1px 1px 5px rgba(0,0,0,0.3);
	
	
}

#btnStart{
	text-align: center;
	width:300px;
	height:50px;
	padding:7px;
	font-size:20px;
	font-family:sans-serif;
	font-weight:600;
	border-radius:12px;
	background-color:#1848D4;
	color:#fff;
	cursor:pointer;
	border:1px solid rgba(255,255,255,0.3);
	box-shadow:1px 1px 5px rgba(0,0,0,0.3);
	
	
}





