*{
	margin: auto;
	padding: 0;
}
body{
	background: url("images/background1.jpg");
	
	/* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
 .button {
  background-color: #e4246e; /* Green */
  border: 1px;
  border-radius: 12px;
  color: rgb(255, 251, 251);
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 31px;
  margin: 10px 10px;
  cursor: pointer;
  width:388px;
}

#search {
  display: inline-block;
  width: 300px;
  height: 380px;
  margin-top: 50px; 
  /* overflow: auto; */
}

#results {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin-top: 50px; 
  /* overflow: auto; */
}